@import "./reset.scss";

@font-face {
  font-family: "futura pt";
  src: url("/fonts/FuturaPTMedium.otf");
}

@font-face {
  font-family: "futura pt book";
  src: url("/fonts/FuturaPTBook.otf");
}

@font-face {
  font-family: Poppins-Regular;
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("/fonts/Poppins-SemiBold.ttf");
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #313f46;
  border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #40545f;
}

#scroll-text::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#scroll-text::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#scroll-text::-webkit-scrollbar-thumb {
  background: #313f46;
}

#list-category::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(84, 92, 96);
}

#list-category::-webkit-scrollbar {
  width: 5px;
  background-color: #767676
}

#list-category::-webkit-scrollbar-thumb {
  background: #767676
}

.wrapper {
  width: 100%;
  font-family: "futura pt";
  display: flex;
  transition: 0.3s;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.sidebar {
  width: 300px;
  background-color: #313f46;
  min-height: 100vh;
  padding: 20px 15px 0 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  > ul {
    display: flex;
    flex-direction: column;
    flex: 1;

    > li:last-child {
      display: flex;
      flex: 1;
      flex-direction: column-reverse;

      .deleted-btn {
        height: 80px;
        margin-bottom: 0;
      }
    }
  }

  .create-new-btn,
  .siderbar__li-item {
    display: flex;
    width: 270px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
    align-items: center;
    margin-bottom: 15px;
    color: #2b3137;
    box-sizing: border-box;
    cursor: pointer;

    img {
      margin-left: 25px;
      margin-right: 17px;
    }
  }

  .post-number {
    min-width: 40px;
    width: 40px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #454e55;
    font-size: 14px;
    color: #fff;
    margin-left: 13px;
  }

  .siderbar__li-item {
    background-color: #313f46;
    color: #fff;
    justify-content: space-between;
    padding-right: 15px;
    transition: all 0.6s;

    &:hover {
      background-color: #9eaf918a !important;
    }
  }

  .category-btn,
  .clip-btn {
    background-color: #313f46;
    color: #fff;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 15px;
    img {
      margin-right: 17px;
    }
  }

  .clip, .managerCate {
    margin-bottom: 5px;
  }

  .category-btn::after {
    content: "\002B";
    display: flex;
    width: 40px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }

  .list-category {
    padding-left: 58px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    overflow-y: auto;

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 11px;
      margin-right: 15px;
      border-bottom: 1px solid #313f46;
      border-radius: 50px;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        border-color: #866363 !important;
      }
    }

    img {
      margin-right: 17px;
    }

    li:last-child {
      margin-bottom: 15px;
    }
  }

  .wrapper-deleted {
    height: 80px;
    display: flex;
    align-items: center;

    &__btn-deleted {
      margin-bottom: 0;
      justify-content: left;
      
    }
  }

  .icon-title {
    display: flex;
    overflow: hidden;
    span {
      white-space: nowrap;
      color: #fff;
      line-height: 21px;
    }
  }
}

.primary-view {
  display: flex;
  flex: 1;

  &__list-todo {
    width: 450px;
    border-right: 1px solid #f0f0f0;

    &__search {
      display: flex;
      width: 100%;
      height: 70px;
      padding: 0 20px;
      justify-content: center;
      background-color: #f4f4f4;
      align-items: center;
      border: 1px solid #dcdcdc;
      border-top: none;
      box-sizing: border-box;

      &__input-wrapper {
        height: 40px;
        width: 350px;
        border-radius: 120px;
        border: 1px solid #cdd6dd;
        box-sizing: border-box;
        border-bottom-right-radius: unset;
        border-top-right-radius: unset;
        outline: none;
        border-right: 0;
        background: #fff;
        display: flex;
        align-items: center;
        overflow: hidden;

        > input {
          width: 96%;
          height: 95%;
          outline: none;
          border: none;
          font-size: 16px;
          margin-left: 21px;
          box-sizing: border-box;
          margin-top: 1px;
          font-family: futura pt book;
        }
      }

      &__img-wrapper {
        width: 60px;
        height: 40px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 120px;
        background: #fff;
        border: 1px solid #cdd6dd;
        border-left: 0;
        border-top-left-radius: unset;
        border-bottom-left-radius: unset;
        transition: 0.05s;

        &:hover {
          background: none;
        }
      }
    }

    &__sort-title {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      box-sizing: border-box;

      background: #f4f4f4 0% 0% no-repeat padding-box;
      border: 1px solid #dcdcdc;
      border-top: none;

      &__title {
        color: #2b3137;
        opacity: 0.8;
        font-size: 18px;
        cursor: pointer;
      }

      &__wrapper-icon-sort {
        cursor: pointer;

        img {
          width: 20px;
        }
      }
    }

    &__todos {
      max-height: calc(100vh - 120px);
      overflow-y: auto;

      li {
        height: 80px;
        width: 100%;

        button {
          width: 100%;
          height: 100%;
          display: flex;
          background-color: #fff;
          border: 1px solid #f0f0f0;
          border-top: none;
          padding: 0 20px;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;

          &:hover {
            border-left: 5px solid #fe6100;
            box-sizing: border-box;
            background: rgba(254, 97, 0, 0.1);
            outline: rgba(254, 97, 0, 0.5);
          }

          &:focus {
            outline: rgba(254, 97, 0, 0.5);
          }

          h3 {
            font-size: 20px;
            font-family: "futura pt";
            text-align: left;
            margin-bottom: 7px;
          }

          .wrapper-date-category {
            display: flex;
            flex-wrap: wrap;
            color: #313f46;
            font-family: "futura pt book";
            font-size: 14px;

            img {
              margin-right: 6px;
            }

            &__date {
              margin-right: 20px;
              display: flex;
              justify-content: center;
              align-items: center;

              span {
                opacity: 0.5;
              }
            }

            &__category {
              opacity: 0.5;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          .wrapper-icon-tag {
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            background: rgba(254, 97, 0, 0.2);
            align-items: center;
            border-radius: 50%;
          }
        }
      }
    }
  }

  &__todo-info {
    width: 100%;

    .action-area {
      display: flex;
      width: 100%;
      height: 70px;
      padding: 0 25px 0 30px;
      justify-content: left;
      background-color: #f4f4f4;
      align-items: center;
      border: 1px solid #dcdcdc;
      border-top: none;
      border-left: none;
      box-sizing: border-box;

      .btn-clip {
        color: #fe8033;
        background-color: #fff1e8;

        img {
          margin-right: 0;
        }
      }

      .wrapper-btn-delete {
        display: flex;
        flex-direction: row-reverse;
        flex: 1;

        .btn-delete {
          background-color: #313f46;
          width: 100px;
          color: #fff;
          margin-right: 0;

          &:hover {
            background-color: #395d6fd6 !important;
          }
        }
      }
    }

    .todo-info-area {
      padding: 30px 30px 20px 40px;
      user-select: text;
      position: relative;

      .wrapper-date-category {
        display: flex;
        flex-wrap: wrap;
        color: #2b3137;
        font-family: "futura pt book";
        font-size: 14px;
        margin-bottom: 16px;

        img {
          margin-right: 6px;
        }

        &__date {
          margin-right: 20px;
          display: flex;
          align-items: center;
          justify-content: center;

          span::selection {
            background-color: rgba(254, 97, 0, 0.4);
          }
        }

        &__category {
          display: flex;
          align-items: center;
          justify-content: center;

          span::selection {
            background-color: rgba(254, 97, 0, 0.4);
          }
        }
      }

      &__title {
        height: 57px;
        line-height: 46px;
        font-size: 36px;
        text-indent: 10px;
        color: #2b3137;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(240, 240, 240, 0.8);

        &::selection {
          background-color: rgba(254, 97, 0, 0.4);
        }
      }

      &__content {
        max-width: 850px;
        line-height: 26px;
        font-size: 16px;
        font-family: "futura pt";
        color: #2b3137;
        max-height: 60vh;
        overflow-y: auto;

        &::selection {
          background-color: rgba(254, 97, 0, 0.4);
        }
      }
    }
  }
}

.active::after {
  content: "\2212" !important;
}

.activeCategory {
  background-color: #2b3137 !important;
}

.activeItem {
  border-color: #9e9e9e !important;
}

.activeMemo {
  border-left: 5px solid #fe6100 !important;
  box-sizing: border-box !important;
  background: rgba(254, 97, 0, 0.1) !important;
  outline: rgba(254, 97, 0, 0.5) !important;
}

.modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(21, 3, 3, 0.71);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  opacity: 1;

  &__content {
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    padding-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__close {
      position: absolute;
      top: 15px;
      right: 15px;
      background: #a3536a;
      border-radius: 50%;
      cursor: pointer;
      width: 30px;
      height: 30px;
      transition: all 0.2s;
      justify-content: center;
      display: flex;
      align-items: center;

      &:hover {
        opacity: 0.6;
        width: 40px;
        height: 40px;
      }

      img {
        width: 30px;
      }
    }

    &__group {
      min-width: 300px;

      &__title {
        display: inline-block;
        letter-spacing: 0.6px;
        margin-bottom: 5px;
      }

      &__content {
        display: flex;
        align-items: center;

        .border-img {
          display: flex;
          align-items: center;
          width: 40px;
          height: 40px;
          border: 1px solid #313f46;
          border-right: 0;
          justify-content: center;
        }

        input {
          font-size: 16px;
          height: 40px;
          flex: 1;
          box-sizing: border-box;
          background: none;
          border: 1px solid #313f46;
          text-indent: 10px;
          letter-spacing: 0.6px;
          font-family: futura pt book;
        }
      }
    }
  }
}

.btn {
  height: 40px;
  width: 80px;
  border-radius: 52px;
  border: 1px solid #cdd6dd;
  background-color: #fff;
  font-size: 14px;
  color: #313f46;
  font-family: "futura pt";
  margin-right: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: 0.3s;
  outline: none;

  &:hover {
    background-color: #ffeb3b45 !important;
  }

  img {
    margin-right: 6px;
  }
}

.btn-add {
  border-color: #313f46;
}

.logout {
  position: fixed;
  z-index: 1;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
  opacity: 0.6;
  flex-direction: column;

  img {
    margin-top: 5px;
    width: 100%;
  }

  &:hover {
    width: 70px;
    opacity: 1;
    font-size: 20px;
  }
}

.data-category {
  margin-top: 30px;
  width: 100%;
  max-width: 500px;
  border: 1px solid #313f46;

  &__wrapper-data {
    width: calc(100% + 3.5px);
    overflow-y: scroll;
    max-height: 50vh;
  }

  li {
    display: flex;
    height: 50px;
    border: 1px solid #313f46;
    border-bottom: none;

    .cate-wrraper-name {
      flex: 1;
      align-items: center;
      display: flex;
      justify-content: center;
      border-right: 1px solid #313f46;
      overflow: hidden;
      padding: 0 10px;

      &__name {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .cate-action {
      width: 140px;
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &:last-child {
      border-bottom: 1px solid #313f46;
    }
  }
}

.btn-cate {
  padding: 10px;
  color: #fff;
  font-family: futura pt;
  font-weight: 0;
  height: 40px;
  box-sizing: border-box;
  width: 60px;
  transition: 0.3s;
}

.btn-delete-cate {
  border-right: 0;
  background-color: #7f2626;
  &:hover {
    border: 1px solid #c37f1b;
    background: #e8b15f;
  }
}

.btn-edit-cate {
  background-color: #c37f1b;

  &:hover {
    border: 1px solid #c37f1b;
    background: #b24c4c;
  }
}

.btn-add-cate {
  border-left: 0;
  background-color: #30b269;
  &:hover {
    border: 1px solid #c37f1b;
    background: #b24c4c;
  }
}

.btn-cancel-cate {
  border-left: 0;
  background-color: #a0263e;
  &:hover {
    border: 1px solid #c37f1b;
    background: #e8b15f;
  }
}

.error-cate {
  color: red;
  margin-top: 20px;
}

.edited-tooltip {
  position: absolute;
  top: 70px;
  right: 140px;
  font-family: futura pt book;
  font-size: 18px;
  color: #868686;
  
  &:hover &__tooltip{
    opacity: 1;
  }

  &:hover &__bot-tooltip{
    opacity: 1;
  }

  &__tooltip{
    transition: 0.3s;
    position: absolute;
    top: -175%;
    left: -38%;
    background: #000;
    padding: 5px 15px;
    color: #FFF;
    border-radius: 25px;
    font-family: Poppins-Regular;
    font-size: 15px;
    opacity: 0;
  }

  &__bot-tooltip{
    transition: 0.3s;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 9px solid black;
    top: -6px;
    right: 22px;
    position: absolute;
    opacity: 0;
  }
}


@media only screen and (max-width: 425px) {
  .sidebar{
    display: none;
  }

  .primary-view{
    flex-wrap: wrap;
    width: 100%;

    &__list-todo{
      width: 100%;
    }

    .action-area{
      border-left: 1px solid #dcdcdc;
      border-top: 1px solid #dcdcdc;
    }

    .todo-info-area{
      &__title{
        font-size: 32px;
      }
    }
  }

  .edited-tooltip{
    top: 30px;
    right: 30px;
  }

  .logout{
    display: none;
  }
}


@media only screen and (max-width: 375px) {
  .action-area{
    .btn{
      width: 40px;
      margin-right: 13px;

      img{
        margin: 0;
      }

      span{
        display: none;
      }
    }
  }

  .primary-view{
    flex-wrap: wrap;
    width: 100%;

    &__list-todo{
      width: 100%;
    }

    .action-area{
      border-left: 1px solid #dcdcdc;
      border-top: 1px solid #dcdcdc;
    }

    .todo-info-area{
      padding: 20px;
      
      &__title{
        font-size: 25px;
      }
    }
  }

  .edited-tooltip{
    display: none;
  }

  .wrapper-date-category{
    &__date{
      input{
        width: 150px;
        margin-left: 2px;
        margin-bottom: 10px;
      }
    }
  }
}
