@import "./reset.scss";
.wrapper {
  width: 100%;
  font-family: "futura pt";
  display: flex;
  transition: 0.3s;
}

.sidebar {
  width: 300px;
  background-color: #313f46;
  min-height: 100vh;
  padding: 20px 15px 0 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  > ul {
    display: flex;
    flex-direction: column;
    flex: 1;

    > li:last-child {
      display: flex;
      flex: 1;
      flex-direction: column-reverse;

      .deleted-btn {
        height: 80px;
        margin-bottom: 0;
      }
    }
  }

  .create-new-btn,
  .all-notes {
    display: flex;
    width: 270px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
    align-items: center;
    margin-bottom: 15px;
    color: #2b3137;
    box-sizing: border-box;
    cursor: pointer;

    img {
      margin-left: 25px;
      margin-right: 17px;
    }
  }

  .post-number {
    min-width: 40px;
    width: 40px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #454e55;
    font-size: 14px;
    color: #fff;
    margin-left: 13px;
  }

  .all-notes {
    background-color: #2b3137;
    color: #fff;
    justify-content: space-between;
    padding-right: 15px;
  }

  .category-btn,
  .clip-btn {
    background-color: #313f46;
    color: #fff;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 15px;
    img {
      margin-right: 17px;
    }
  }

  .category-btn::after {
    content: "\002B";
    display: flex;
    width: 40px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }

  .list-category {
    margin-left: 58px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 11px;
      margin-right: 15px;
      cursor: pointer;
    }
    img {
      margin-right: 17px;
    }
    li:last-child {
      margin-bottom: 15px;
    }
  }

  .icon-title {
    display: flex;
    overflow: hidden;
    span {
      white-space: nowrap;
      color: #fff;
      line-height: 21px;
    }
  }
}

.primary-view {
  display: flex;
  flex: 1;

  &__list-todo {
    width: 450px;
    border-right: 1px solid #f0f0f0;

    &__search {
      display: flex;
      width: 100%;
      height: 70px;
      padding: 0 20px;
      justify-content: center;
      background-color: #f4f4f4;
      align-items: center;
      border: 1px solid #dcdcdc;
      border-top: none;
      box-sizing: border-box;

      &__input-wrapper {
        height: 40px;
        width: 350px;
        border-radius: 120px;
        border: 1px solid #cdd6dd;
        box-sizing: border-box;
        border-bottom-right-radius: unset;
        border-top-right-radius: unset;
        outline: none;
        border-right: 0;
        background: #fff;
        display: flex;
        align-items: center;
        overflow: hidden;

        input {
          width: 96%;
          height: 95%;
          outline: none;
          border: none;
          font-size: 16px;
          margin-left: 21px;
          box-sizing: border-box;
          margin-top: 1px;
        }
      }

      &__img-wrapper {
        width: 60px;
        height: 40px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 120px;
        background: #fff;
        border: 1px solid #cdd6dd;
        border-left: 0;
        border-top-left-radius: unset;
        border-bottom-left-radius: unset;
        transition: 0.05s;

        &:hover {
          background: none;
        }
      }
    }

    &__sort-title {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      box-sizing: border-box;

      background: #f4f4f4 0% 0% no-repeat padding-box;
      border: 1px solid #dcdcdc;
      border-top: none;

      &__title {
        color: #2b3137;
        opacity: 0.8;
        font-size: 18px;
      }
    }

    &__todos {
      li {
        height: 80px;
        width: 100%;

        button {
          width: 100%;
          height: 100%;
          display: flex;
          background-color: #fff;
          border: 1px solid #f0f0f0;
          border-top: none;
          padding: 0 20px;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;

          &:hover,
          &:focus {
            border-left: 5px solid #fe6100;
            box-sizing: border-box;
            background: rgba(254, 97, 0, 0.1);
            outline: rgba(254, 97, 0, 0.5);
          }

          h3 {
            font-size: 20px;
            font-family: "futura pt";
            text-align: left;
            margin-bottom: 7px;
          }

          .wrapper-date-category {
            display: flex;
            color: #313f46;
            font-family: "futura pt book";
            font-size: 14px;

            img {
              margin-right: 6px;
            }

            &__date {
              margin-right: 20px;
              display: flex;
              justify-content: center;
              align-items: center;

              span {
                opacity: 0.5;
              }
            }

            &__category {
              opacity: 0.5;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          .wrapper-icon-tag {
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            background: rgba(254, 97, 0, 0.2);
            align-items: center;
            border-radius: 50%;
          }
        }
      }
    }
  }

  &__todo-info {
    width: 100%;

    .action-area {
      display: flex;
      width: 100%;
      height: 70px;
      padding: 0 20px 0 30px;
      justify-content: left;
      background-color: #f4f4f4;
      align-items: center;
      border: 1px solid #dcdcdc;
      border-top: none;
      border-left: none;
      box-sizing: border-box;

      .btn {
        height: 40px;
        width: 80px;
        border-radius: 52px;
        border: 1px solid #cdd6dd;
        background-color: #fff;
        font-size: 14px;
        color: #313f46;
        font-family: "futura pt";
        margin-right: 15px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        img {
          margin-right: 6px;
        }
      }

      .btn-clip {
        color: #fe8033;
        background-color: #fff1e8;

        img {
          margin-right: 0;
        }
      }

      .wrapper-btn-delete {
        display: flex;
        flex-direction: row-reverse;
        flex: 1;

        .btn-delete {
          background-color: #313f46;
          width: 100px;
          color: #fff;
        }
      }
    }

    .todo-info-area {
      padding: 30px 30px 0 40px;

      .wrapper-date-category {
        display: flex;
        color: #2b3137;
        font-family: "futura pt book";
        font-size: 14px;
        margin-bottom: 16px;

        img {
          margin-right: 6px;
        }

        &__date {
          margin-right: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &__category {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &__title {
        height: 57px;
        line-height: 46px;
        font-size: 36px;
        text-indent: 10px;
        color: #2b3137;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(240, 240, 240, 0.8);
      }

      &__content {
        max-width: 850px;
        line-height: 26px;
        font-size: 16px;
        font-family: "futura pt";
        color: #2b3137;
      }
    }
  }
}

.active::after {
  content: "\2212" !important;
}

.activeCategory {
  background-color: #2b3137;
}